# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
backend/database.db

# User Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
